<!DOCTYPE html>
<html>
  <head>
    <title><%= "Answers" %></title>
  </head>
  <body>
    <p>Explorer #1 <%= our_class %> </p>
    <p>Explorer #2 <%= short_name %> </p>
    <p>Explorer #3 <%=  array_four_words %>  </p>
    <p>Explorer #4 <%=  cheap_movie %> </p>
    <p>Explorer #4 <%   leonardo_movie %> </p>
    <p>Adventurer #1 <%=  "see rb doc" %> </p>
    <p>Adventurer #2 <%=  how_many_words_example %> </p>
    <p>Adventurer #3 <%=  total_budget %> </p>
    <p>Epic #1 <%=  movies_by_star %> </p>
    <p>Epic #1.1 <%= "see rb doc" %> </p>
    <p>Epic #2 <%=  average_budget %> </p>
    <p>Epic #3 <%=  median_budget %> </p>
    <p>Legendary #1 <%=  accumulate_i %> </p>
    <p>Legendary #1 <%=  accumulate_s %> </p>
  </body>
</html>
